<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PHONGKHAM_DBConnectionString"
            connectionString="Data Source=DESKTOP-TTVSONC\SQLEXPRESS;Initial Catalog=PHONGKHAM_DB2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>